extends:
  - standard
  - standard-react
parser: babel-eslint
rules:
  object-curly-spacing: [ error, always ]
  react/prop-types: off
  react/jsx-filename-extension: off
  space-before-function-paren: off
  jsx-quotes: off
globals:
  React: false
